@model Vapor.Models.Customer
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>


@if (Model.BirthDate != null)
{
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
        <li>Birthdate: @Model.BirthDate</li>
    </ul>
}
else
{
    <ul>
        <li>Membership Type: @Model.MembershipType.Name</li>
    </ul>
}
   

