@model Vapor.Models.Game
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<ul>
    <li>$ @Model.Price</li>
    <li>Genre: @Model.Genre.Name</li>
    <li>Released: @Model.ReleaseDate</li>
</ul>
